.red-button {
  color: #ffffff;
  background: rgb(251, 105, 98) 80%;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 40px;
  display: flex;
  text-align: center;
  fill: #fff;
}
.red-button a {
  line-height: 1;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}
.red-button i {
  margin-left: 15px;
  color: #ffffff;
}

.service-card {
  line-height: 1.65;
  font-size: 14px;
  color: #7b7a7a;
  font-family: poppins, sans-serif;
}
.service-card__container {
  position: relative;
  border-radius: 5px;
  border: 2px solid #E9E8E9;
  width: 400px;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-card__container h2 {
  font-size: 25px;
  color: #313131;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 22px;
}
.service-card__container p {
  text-align: center;
  margin-bottom: 30px;
  width: 280px;
}
.service-card .plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  bottom: -18px;
  width: 38px;
  height: 38px;
  background-color: #FA524F;
  border-radius: 50px;
  color: #FFFFFF;
}
.service-card .service-image {
  position: absolute;
  z-index: 2;
  top: -30px;
  background-color: #FA524F;
  border-radius: 50px;
}
.service-card .service-image, .service-card .service-image img {
  width: 60px;
  height: 60px;
}

.services {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__content {
  width: 1180px;
}
.services__content h1 {
  color: #FFFFFF;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.2em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.services__content p {
  color: rgba(255, 255, 255, 0.8117647059);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.19);
}

.services-list {
  margin-top: 70px;
  column-gap: 25px;
  row-gap: 120px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 300px);
  justify-content: center;
  height: 800px;
}

.adopt-puppy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adopt-puppy__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.adopt-puppy__content h2 {
  font-size: 45px;
  line-height: 1.2;
  color: #313131;
  font-weight: 600;
  font-family: poppins, sans-serif;
}
.adopt-puppy__view {
  display: flex;
  position: relative;
}
.adopt-puppy__view img {
  width: 450px;
  height: 425px;
}
.adopt-puppy__view .red-button {
  position: absolute;
  margin-right: 200px;
  left: 50%;
  top: 20%;
}
