.header {
    background-color: #fff;
    max-height: 100px;
    &__logo {
        width: 104px;
        height: 47px;
        margin-left: 20px;
    }
    &__menu {
        display: flex;
        > li {
            > a {
                font-size: 14px;
                font-weight: 600;
                color: #313131;
                width: 83px;
                height: 102px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            margin-right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__contact {
        margin-right: 20px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-content: center;
        align-items: center;
    }
}

.menu-item-has-children {
    position: relative;
    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 90;
    }
    &:hover ul {
        height: 70px;
        background-color: #fff;
        border-top: 2px solid #fbae02;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
            margin-left: 20px;
            a {
                line-height: 1.65;
                font-size: 14px;
                color: #7b7a7a;
                font-family: poppins, sans-serif;
                i {
                    margin-right: 7px;
                    width: 16px;
                }
                border-bottom: 1px solid rgba($color: #d5d1d1, $alpha: 1);
            }
            width: 170px;
        }
    }
}

.current-menu-item a {
    color: #fbae02 !important;
}
