@use 'header.scss';
@use 'footer.scss';

body {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #545454;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.pet-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.08);
  font-family: poppins, sans-serif;
  height: 550px;
  overflow: hidden;
  position: relative;
  width: 376px;

  .red-button {
    margin-top: 33px;
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      height: 282px;
      display: block;
      transition: scale 400ms;
      overflow: hidden;
    }
  }

  &__description {
    height: 270px;
    margin-left: 25px;
    margin-top: 30px;
  }

  &__text {
    width: 299px;
    color: #7b7a7a;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.65;
    font-size: 14px;
  }

  &__age {
    color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 500;
    background: #fa524f;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    right: 12px;
    top: 12px;
  }

  &__name {
    font-weight: 700;
    color: #313131;
    font-size: 21px;
    line-height: 1.1;
  }
}

.img-zoom {
  transform: scale(1.2);
}

#scroll-to-top {
  width: 44px;
  height: 35px;
  cursor: pointer;
  border: none;
  background: rgba(100, 100, 100, 0.65);
  position: fixed;
  right: 35px;
  bottom: -5px;
  z-index: 2;
  border-radius: 5px;
  display: none;

  i {
    color: white;
  }
}

.about {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 1180px;

    h1 {
      color: #ffffff;
      font-size: 52px;
      font-weight: 600;
      line-height: 1.2em;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }

    p {
      color: #ffffffcf;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.2em;
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.19);
    }
  }
}

.red-button {
  color: #ffffff;
  background: rgb(251, 105, 98) 80%;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 40px;
  display: flex;
  text-align: center;
  fill: #fff;

  a {
    line-height: 1;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
  }

  i {
    margin-left: 15px;
    color: #ffffff;
  }
}

.service-card {
  line-height: 1.65;
  font-size: 14px;
  color: #7b7a7a;
  font-family: poppins, sans-serif;

  &__container {
    transition: border 0.3s;
    position: relative;
    border-radius: 5px;
    border: 2px solid #e9e8e9;
    width: 400px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: border-color 0.3s;
      border-color: #fa524f;
    }

    h2 {
      font-size: 25px;
      color: #313131;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 22px;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
      width: 280px;
    }
  }

  .plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: -18px;
    width: 38px;
    height: 38px;
    background-color: #fa524f;
    border-radius: 50px;
    color: #ffffff;
  }

  .service-image {
    position: absolute;
    z-index: 2;
    top: -30px;
    background-color: #fa524f;
    border-radius: 50px;

    &,
    img {
      width: 60px;
      height: 60px;
    }
  }
}

.product-card {
  width: 362px;
  height: 542px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(41, 48, 55, 9%);
  overflow: hidden;
  border-radius: 6px;

  .product-card__add-to-card-button div {
    width: 290px;
    height: 48px;
    background-color: #fa524f;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }

  &__information {
    h2 {
      font-size: 19px;
      line-height: 1.3;
      margin-bottom: 2px;
      color: #1a1819;
      font-weight: 700;
    }

    p {
      color: #7b7a7a;
      font-weight: 600;
      font-size: 15px;
    }

    &-container {
      margin-top: 25px;
      margin-left: 25px;
    }
  }

  img {
    height: 362px;
    background-size: cover;
    transform: translateX(-15%);
  }
}
