.service-card {
  line-height: 1.65;
  font-size: 14px;
  color: #7b7a7a;
  font-family: poppins, sans-serif;

  &__container {
    transition: border 0.3s;
    position: relative;
    border-radius: 5px;
    border: 2px solid #E9E8E9;
    width: 400px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: border-color 0.3s;
      border-color: #FA524F;
    }

    h2 {
      font-size: 25px;
      color: #313131;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 22px;
    }

    p {
      text-align: center;
      margin-bottom: 30px;
      width: 280px;
    }
  }

  .plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    bottom: -18px;
    width: 38px;
    height: 38px;
    background-color: #FA524F;
    border-radius: 50px;
    color: #FFFFFF;
  }

  .service-image {
    position: absolute;
    z-index: 2;
    top: -30px;
    background-color: #FA524F;
    border-radius: 50px;

    &, img {
      width: 60px;
      height: 60px;
    }
  }
}