.single-pet__information {
  height: 500px;
  display: flex;
  background-color: #f1f1f1;
  font-family: poppins, sans-serif;
}
.single-pet #single-pet__information-image {
  width: 700px;
  height: 500px;
}
.single-pet__description {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 40px;
}
.single-pet__description-detail {
  display: grid;
  grid-template-columns: repeat(2, 340px);
  line-height: 1.65;
}
.single-pet__description-brief-description {
  margin-top: 16px;
  font-size: 15px;
  color: #7b7a7a;
  width: 678px;
}
.single-pet__description h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
  color: #313131;
  margin-bottom: 20px;
}
.single-pet .red-button {
  margin-top: 28px;
}
.single-pet .about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-pet .about__text {
  line-height: 1.65;
  font-size: 14px;
  color: #7b7a7a;
  font-family: poppins, sans-serif;
  margin-bottom: 50px;
}
.single-pet .about__container {
  margin-top: 62px;
  width: 1200px;
}
.single-pet .about__container h2 {
  font-size: 33px;
  line-height: 1.2;
  font-weight: 600;
  color: #313131;
  font-family: poppins, sans-serif;
  margin-bottom: 20px;
}
.single-pet .adoption-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
  margin-bottom: 75px;
}
.single-pet .adoption-rules__text {
  width: 1110px;
  font-size: 18px;
  line-height: 1.5;
  color: #5b5b5b;
}
.single-pet .adoption-rules__title {
  font-weight: 600;
  line-height: 1.2;
  color: #313131;
  font-size: 22px;
  margin-bottom: 22px;
}
.single-pet .adoption-rules__title i {
  margin-right: 13px;
}
.single-pet .adoption-rules__container {
  border-radius: 10px;
  padding: 25px 40px 25px 40px;
  width: 1200px;
  height: 243px;
  background-color: #fef4df;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.single-product__description {
  width: 100%;
  line-height: 1.65;
  font-size: 14px;
  color: #7b7a7a;
  font-family: poppins, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product__description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 1180px;
}
.single-product__description-container p {
  margin-bottom: 80px;
  width: 1180px;
}
.single-product__description-container h2 {
  font-size: 34px;
  color: #313131;
}
.single-product__add-to-cart form input {
  height: 52px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e4e4e4;
  width: 64px;
  border-radius: 4px;
  text-align: center;
  margin-right: 9px;
}
.single-product__add-to-cart form button {
  width: 146px;
  height: 54px;
  border-radius: 40px;
  border: none;
  background: #fa7270;
  color: #ffffff;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.single-product__information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}
.single-product__information-container {
  display: flex;
}
.single-product__price {
  color: #313131;
  font-weight: 600;
  font-size: 19px;
}
.single-product__img {
  margin-right: 65px;
}
.single-product__img img {
  width: 554px;
  height: 339px;
}
.single-product__detail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 339px;
  margin-top: 65px;
}
.single-product__brief-description {
  width: 554px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 1.65;
  color: #7b7a7a;
  font-family: poppins, sans-serif;
}
.single-product .divider {
  width: 100%;
  height: 1px;
  margin: 22px 0;
  background-color: #ced1de;
}
