.header {
  background-color: #fff;
  max-height: 100px;
}
.header__logo {
  width: 104px;
  height: 47px;
  margin-left: 20px;
}
.header__menu {
  display: flex;
}
.header__menu li {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu li a {
  font-size: 14px;
  font-weight: 600;
  color: #313131;
}
.header__contact {
  margin-right: 20px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  align-items: center;
}

.menu-item-has-children li {
  display: none;
}
