.about {
  margin-bottom: 65px;
}

.cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    width: 1180px;
  }

  &__proceed-to-checkout {
    border-radius: 40px;
    background-color: #fa524f;
    width: 226px;
    height: 56px;

    a {
      color: #ffffff;
      border-radius: 40px;
      letter-spacing: 0em;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__totals {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-bottom: 55px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 566px;
      height: 180px;

      h2 {
        font-weight: 600;
        line-height: 1.2;
        font-family: poppins, sans-serif;
        font-size: 20px;
        color: #313131;
      }

      table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid #f0f1f3;
        margin: 15px 0;
      }

      .cart-total {
        text-align: left;
        vertical-align: center;

        th {
          width: 197px;
          height: 55px;
          background-color: #f0f1f3;
          line-height: 1.5em;
          color: black;
          font-weight: 400;
          padding-left: 10px;
        }

        td {
          width: 366px;
          height: 55px;
          padding-left: 10px;
          color: #111;
          font-weight: 700;
        }
      }
    }
  }

  &__table {
    border-radius: 0;
    border: 1px solid #f0f1f3;
    margin: 0 -1px 24px 0;
    text-align: left;
    font-size: 14px;
    width: 100%;
    border-collapse: separate;

    thead {
      color: #1a1819;
      font-size: 17px;
      background-color: #f0f1f3;
    }

    th,
    td {
      padding-top: 25px;
      padding-bottom: 15px;
      height: 56px;
    }

    td {
      text-align: left;
      vertical-align: middle;
      border-right: 1px solid #f0f1f3;
    }

    tbody {
      td {
        border-top: 1px solid #f0f1f3;
      }

      .product-remove {
        width: 95px;
        text-align: center;

        button {
          color: black;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          border-radius: 100%;
          height: 1em;
          width: 1em;
          border: none;
          cursor: pointer;
          background: none;

          &:hover {
            color: #ddd8d8;
          }
        }
      }

      .product-thumbnail {
        width: 132px;
        padding-left: 15px;

        img {
          width: 32px;
          height: 32px;
        }
      }

      .product-name {
        width: 317px;

        a {
          text-align: left;
          padding-left: 10px;
          color: #1a1819;
          font-size: 17px;
          font-weight: 700;
        }
      }

      .product-price {
        width: 159px;
        font-weight: 400;
        line-height: 1.5em;
        color: #606060;
        padding-left: 10px;
      }

      .product-quantity {
        width: 243px;
        font-weight: 400;
        line-height: 1.5em;
        color: #606060;
        padding-left: 10px;

        input {
          height: 52px;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid #e4e4e4;
          width: 64px;
          border-radius: 4px;
          text-align: center;
          margin-right: 9px;
        }
      }

      .update-cart {
        td {
          text-align: right;
        }

        button {
          border: none;
          border-radius: 50px;
          width: 152px;
          height: 44px;
          font-size: 13px;
          color: #ffffff;
          font-weight: 600;
          background: #fa7270;
          margin-right: 10px;
        }
      }

      .product-subtotal {
        width: 230px;
        font-weight: 400;
        line-height: 1.5em;
        color: #606060;
        padding-left: 10px;
      }
    }
  }
}
