@use "../components/red_button";

.puppies-list-block {
  margin: 65px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__elements {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    grid-auto-rows: 550px;
    gap: 35px;
  }

  &__filter {
    margin-bottom: 45px;

    ul {
      display: flex;
    }

    &-element {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
      height: 38px;
      background: silver;
      border-radius: 30px;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      margin-right: 24px;
    }

    &-element:not(:first-child) {
      width: 98px;
    }

    &-element:first-child {
      width: 78px;
    }
  }

  .pro-checked div {
    transition: background-color 0.2s ease;
    background-color: #fa524f;
  }
}